.about-integral {
  display: none;
  overflow-y: auto;
  max-height: calc(85vh - 100px);
  &--show {
    display: block;
  }
}

.about-integral__title {
  color: $header-color;
  font-size: 24px;
  margin-bottom: 15px;
  @media (min-width: 768px) {
    font-size: 43px;
  }
}

.about-integral__about {
  font-size: 12px;

  & :first-child {
    margin-bottom: 15px;
  }

  @media (min-width: 768px) {
    margin-top: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 320px;
  }
}
