.about {
  display: none;

  &--show_1 {
    display: block;
  }

  &--hide {
    display: none;
  }

  @media (min-width: 896px) {
    &--show_1 {
      display: none;
    }
    &--show {
      display: block;
    }
  }
}

.about__title {
  color: $header-color;
  font-size: 24px;
  @media (min-width: 768px) {
    font-size: 43px;
  }
}

.about__content {
  margin: 12px 0;
  max-width: 350px;
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    max-width: 350px;
  }
}

.about__text {
  font-size: 12px;

  &:not(:last-child) {
    margin-bottom: 13px;
  }

  & :first-child {
    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  @media (min-width: 768px) {
    font-size: 18px;
  }
}
