.about-integral {
  overflow-y: auto;
  max-height: 72vh;
  &--hide {
    display: none;
  }
}
.about-integral__title {
  color: $header-color;
  font-size: 24px;
  @media (min-width: 768px) {
    font-size: 43px;
  }
  @media (min-width: 1200px) {
    font-size: 53px;
  }
}
.about-integral__about {
  font-size: 12px;
  margin: 15px 0;
  & :first-child {
    margin-bottom: 15px;
  }
  @media (min-width: 768px) {
    font-size: 18px;
    margin-right: 30px;
  }
  @media (min-width: 768px) {
    font-size: 24px;
  }
}
