.about {
	display: none;
	overflow-y: auto;
	max-height: calc(85vh - 100px);
	&--show {
		display: block;
	}
}

.about__title {
	color: $header-color;
	font-size: 24px;
	@media (min-width: 768px) {
		font-size: 43px;
	}
}

.about__content {
	margin: 12px 0;
	max-width: 350px;

	font-size: 12px;

	@media (min-width: 768px) {
		font-size: 18px;

		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: start;
		max-width: 350px;
	}

	& p {
		&:not(:last-child) {
			margin-bottom: 13px;
		}

		& :first-child {
			@media (min-width: 768px) {
				margin-bottom: 0;
			}
		}
	}
}
