.build {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 3;
  justify-content: center;
  align-items: center; /* Центрирование по горизонтали */
  padding: 0 20px;
  position: absolute;
  align-self: flex-end;
  margin-bottom: -1px;
  z-index: 15;
  width: 330px;
  left: 50%;
  transform: translateX(-50%);
  @media (min-width: 768px) {
    transform: translateX(-75%);
    margin-bottom: -2px;
    width: 530px;
  }
}

.build__first-floor-img {
  max-width: 100%;
  height: auto;
  @media (min-width: 768px) {
    width: 530px;
  }
}

.build__another-floors {
  max-width: 100%;
  width: 100%;
  height: 70px;
  display: grid;
  grid-template-columns: 72.1% 27.9%;
  position: relative;
  bottom: -1px;
  @media (min-width: 768px) {
    width: 520px;
    height: 105px;
  }
}

.build__balcony-list-el {
  display: flex;
  max-width: 92%;
  height: 100%;
  width: 80px;
  background-color: #A23840;

  & > img {
    width: 80px;
  }

  @media (min-width: 768px) {
    width: 100%;
    height: 105px;
    & > img {
      width: 200px;
      height: 100px;
    }
  }
}

.build__windows-img {
  @media (min-width: 768px) {
    width: fit-content;
    height: 89px;
    align-self: center;
    justify-self: center;
  }
}

.build__balcony {
  background-color: #A23840;
  width: 74.5px;
}

.build__windows-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  background-color: #E13030;
  background-image: url("../img/floors-with-simple-windows.svg");
  background-size: 290px 65px;
  background-repeat: no-repeat;
  padding: 0 2px;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 8px;
  @media (min-width: 768px) {
    background-size: 465px 105px;
    background-position: -7% center;
    padding: 0 10px;
    margin-bottom: 20px;
  }
}

.build__windows-el {
  width: 47px;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  height: 90%;
  padding-top: 5px;
  align-items: start;
}

.build__construction-img {
  position: relative;
  z-index: -1;
  top: 8em;
  right: 1%;
  @media (min-width: 768px) {
    top: 13em;
    width: 450px;
    height: 460px;
  }
}