.build {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 3;
  justify-content: center;
  align-items: end;
  padding: 0 20px;
  position: relative;
  align-self: flex-end;
  margin-bottom: -1px;
  z-index: 15;
  width: 330px;
  max-width: 100%;
}

.build__first-floor-img {
  max-width: 100%;
  height: auto;
  z-index: 10;
}

.build__another-floors {
  max-width: 100%;
  width: 100%;
  height: 70px;
  display: grid;
  grid-template-columns: 72.1% 27.9%;
  position: relative;
  bottom: -1px;
}
.build__balcony-list-el{
  display: flex;
  max-width: 92%;
  height: 100%;
  width: 80px;
  background-color: #A23840;
}

.build__balcony-list-el>img{
 width: 80px;
}

.build__balcony {
  background-color: #A23840;
  width: 74.5px;
}

.build__windows-list {
  display: flex;
  align-items: end;
  background-color: #E13030;
  background-image: url("../img/floors-with-simple-windows.svg");
  background-size: 290px 65px;
  background-repeat: no-repeat;
  padding: 0 5px;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 8px;
}

.build__windows-el {
  width: 47px;
  height: 55px;
  background-size: contain;
  background-repeat: no-repeat;
}
