.build {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 3;
  justify-content: center;
  align-items: center;
  position: relative;
  align-self: flex-end;
  margin-bottom: -1px;
  z-index: 100;
  width: 300px;
  max-width: 300px;
  left: 50%;
  transform: translateX(-50%);
  @media (min-width: 480px) {
    width: 470px;
    max-width: 470px;
  }
  @media (min-width: 768px) {
    margin-bottom: -2px;
    width: 530px;
    max-width: 530px;
  }
  @media (min-width: 896px) {
    max-width: 540px;
    transform: translateX(-83%);
  }
  @media (min-width: 1024px) {
    width: 590px;
    max-width: 590px;
  }
  @media (min-width: 1200px) {
    transform: translateX(-85%);
    max-width: 650px;
  }
  @media (min-width: 1440px) {
    transform: translateX(-80%);
    max-width: 850px;
  }
}

.build__first-floor-img {
  max-width: 100%;
  height: auto;
  @media (min-width: 480px) {
    width: 470px;
  }
  @media (min-width: 768px) {
    width: 521px;
  }
  @media (min-width: 1024px) {
    width: 610px;
  }
  @media (min-width: 1200px) {
    width: 750px;
  }
  @media (min-width: 1440px) {
    width: 950px;
  }
}

.build__another-floors {
  max-width: 100%;
  width: 320px;
  height: 100%;
  display: grid;
  grid-template-columns: 72.1% 27.9%;
  @media (min-width: 480px) {
    width: 470px;
    max-width: 100%;
  }
  @media (min-width: 768px) {
    width: 520px;
  }
  @media (min-width: 1024px) {
    width: 610px;
  }
  @media (min-width: 1200px) {
    width: 750px;
  }
  @media (min-width: 1440px) {
    width: 950px;
  }
}

.build__balcony-list-el {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  max-width: 92%;
  height: 66px;
  width: 80px;
  background-color: #a23840;

  & > img {
    width: 85px;
  }

  @media (min-width: 480px) {
    width: 113px;
    height: 97px;
    & > img {
      width: 129px;
      height: 105px;
    }
  }
  @media (min-width: 768px) {
    width: 100%;
    height: 114px;
    & > img {
      width: 143px;
      height: 115px;
    }
  }
  @media (min-width: 1024px) {
    height: 130px;
    & > img {
      width: 182px;
      height: 135px;
    }
  }
  @media (min-width: 1200px) {
    height: 160px;
    & > img {
      width: 187px;
      height: 180px;
    }
  }
  @media (min-width: 1440px) {
    height: 181px;
    & > img {
      width: 243px;
      height: 185px;
    }
  }
}

.build__paragraph {
  display: inline-block;
  position: absolute;
  bottom: 0;
  color: #fff;
  background-color: #4a4646;
  padding: 3px 1px;
  text-align: center;
  min-width: 50px;
  max-width: 62px;
  font-size: 5px;
  left: 7px;
  @media (min-width: 480px) {
    left: 3px;
    bottom: 2px;
    padding: 5px 1px;
    min-width: 71px;
    max-width: 70px;
    font-size: 6px;
  }
  @media (min-width: 768px) {
    left: 5px;
    bottom: 3px;
    min-width: 80px;
    max-width: 80px;
    font-size: 7px;
  }
  @media (min-width: 1024px) {
    left: 4px;
    bottom: 3px;
    padding: 7px 1px;
    min-width: 90px;
    max-width: 90px;
    font-size: 8px;
  }
  @media (min-width: 1200px) {
    left: 5px;
    padding: 8px 1px;
    min-width: 108px;
    max-width: 100px;
    font-size: 11px;
    bottom: 0;
  }
  @media (min-width: 1440px) {
    bottom: -3px;
    left: 4px;
    padding: 10px 6px;
    min-width: 142px;
    max-width: 142px;
    font-size: 13px;
  }
}


.build__balcony-list {
  height: 100%;
  width: 92%;
  background-color: #A23840;
  display: flex;
  flex-direction: column-reverse;
}

.build__balcony {
  background-color: #a23840;
  width: 74.5px;
}

.build__window-container {
  background-color: #E13030;
  background-image: url("../img/floors-with-simple-windows.svg");
  background-repeat: repeat;
  background-size: 329px 65px;
  background-position: 11% bottom;
  height: 100%;
  max-width: 100%;
  @media (min-width: 480px) {
    background-size: 484px 96px;
    background-position: 7% bottom;
  }
  @media (min-width: 768px) {
    background-size: 541px 113px;
    background-position: 5% bottom
  }
  @media (min-width: 1024px) {
    background-size: 531px 126px;
    background-position: -20% bottom;
  }
  @media (min-width: 1200px) {
    background-size: 645px 159px;
    background-position: -3% bottom;
  }
  @media (min-width: 1440px) {
    background-size: 895px 181px;
    background-position: 6% bottom;
  }
}

.build__window-list {
  align-content: start;
  align-items: center;
  display: grid;
  transform: scaleY(-1);
  grid-template-columns: 57px 55px 53px 54px;
  grid-auto-rows: 65px;
  grid-column: 2 / -2;
  justify-items: end;
  grid-auto-flow: row;
  height: 100%;
  max-width: 100%;

  @media (min-width: 480px) {
    grid-template-columns: 82px 84px 75px 79px;

    grid-auto-rows: 96px;
  }
  @media (min-width: 768px) {
    grid-template-columns: 86px 95px 93px 92px;
    grid-auto-rows: 113px;
  }
  @media (min-width: 1024px) {
    grid-template-columns: 108px 102px 93px 96px;
    grid-auto-rows: 127px;
  }
  @media (min-width: 1200px) {
    grid-template-columns: 115px 114px 123px 114px;
    grid-auto-rows: 160px;
  }
  @media (min-width: 1440px) {
    grid-template-columns: 154px 152px 148px 148px;
    grid-auto-rows: 181px;
  }
}

.build__windows-el {
  position: relative;
  display: flex;
  transform: scaleY(-1);
}

.build__windows-img {
  @media (min-width: 480px) {
    width: fit-content;
    align-self: center;
    justify-self: center;
    height: 82px;
  }
  @media (min-width: 768px) {
    width: fit-content;
    height: 96px;
    align-self: center;
    justify-self: center;
  }
  @media (min-width: 1024px) {
    height: 105px;
  }
  @media (min-width: 1200px) {
    width: 112px;
    height: 120px;
  }
  @media (min-width: 1440px) {
    height: 151px;
    width: 138px;
  }
}


.build__construction-img {
  position: relative;
  z-index: -1;
  top: 8em;
  left: 1%;
  @media (min-width: 480px) {
    top: 13em;
    width: 400px;
    height: 460px;
  }
  @media (min-width: 768px) {
    width: 450px;
  }
  @media (min-width: 1024px) {
    width: 550px;
    height: 510px;
    top: 14em;
  }
  @media (min-width: 1200px) {
    top: 20em;
    width: 600px;
    height: 710px;
  }
  @media (min-width: 1440px) {
    top: 24em;
    width: 770px;
    height: 870px;
  }
}

.floor-el__wrapper {
  height: 66px;
  @media (min-width: 480px) {
    height: 97px;
  }
  @media (min-width: 768px) {
    height: 114px;
  }
  @media (min-width: 1024px) {
    height: 130px;
  }
  @media (min-width: 1200px) {
    height: 160px;
  }
  @media (min-width: 1440px) {
    height: 185px;
  }
}
