.burger-menu {
  padding: 0px 18px;
  position: absolute;
  top: 78px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 99;
  width: 95%;
  background-color: $burger-menu-color;
  height: 89.5%;
  border-radius: 0 0 23px 23px;
  opacity: 0.97;
  &__footer {
    position: absolute;
    bottom: 2.5%;
    left: 6%;
    font-size: 0.8rem;
  }
  &__list {
    line-height: 1.5rem;
  }
  &__link {
    font-family: "TT Firs Neue Trl", sans-serif;
    cursor: pointer;
  }
}
@media (min-width: 360px) {
  .burger-menu {
    padding: 0px 20px;
    &__footer {
      left: 7%;
      font-size: 1rem;
    }
    &__list {
      line-height: 1.7rem;
    }
  }
}
