.burger-menu-how-it-works {
  margin: 15px 0;
  height: 83%;
  @include display-flex($fd: column, $ai: flex-start, $jc: space-between);
  &__title {
    font-family: "TT Firs Neue Trl", sans-serif;
    color: $header-color;
    font-size: 1.5rem;
    font-weight: 300;
  }
  &__content {
    height: 77%;
  }
  &__text {
    font-size: 0.7rem;
    font-family: "TT Firs Neue Trl", sans-serif;
    line-height: 1.3rem;
    margin-bottom: 10px;
  }
}

@media (min-width: 360px) {
  .burger-menu-how-it-works {
    &__title {
      font-size: 1.6rem;
    }
    &__text {
      font-size: 0.9rem;
      line-height: 1.3rem;
    }
  }
}

.hide {
  display: none;
}
