.burger-menu-general {
  height: 85%;
  @include display-flex($fd: column, $jc: space-evenly, $ai: flex-start);
  &__title {
    font-size: 0.8rem;
    &--h6 {
      font-family: "TT Firs Neue Trl", sans-serif;
      margin-bottom: 15px;
    }
    &--p {
      font-family: "TT Firs Neue Trl", sans-serif;
    }
  }
  &__list {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    grid-template-areas:
      "item1 item2"
      "item3 item3";
  }
  &__item {
    background-color: rgb(236, 236, 236);
    &--1 {
      grid-area: item1;
      border-radius: 15px;
      position: relative;
      height: 130px;
    }
    &--2 {
      grid-area: item2;
      border-radius: 15px;
      position: relative;
    }
    &--3 {
      grid-area: item3;
      border-radius: 15px;
      position: relative;
    }
  }
  &__window {
    font-size: 0.6rem;
    padding: 10px 0px;
    @include display-flex($ai: flex-start, $jc: space-evenly);
    &--p {
      font-family: "TT Firs Neue Trl", sans-serif;
      line-height: 0.8rem;
      margin-bottom: 10px;
    }
    &--3 {
      font-size: 0.6rem;
      margin: 10px;
      font-family: "TT Firs Neue Trl", sans-serif;
      @include display-flex($fd: column);
    }
  }
  &__price {
    cursor: pointer;
    padding: 14px 0;
    background-color: $header-color;
    border-radius: 0 0 15px 15px;
    text-align: center;
    color: #fff;
    font-weight: 100;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    width: 100%;
    &--3 {
      bottom: -25px;
    }
  }
}

@media (min-width: 360px) {
  .burger-menu-general {
    &__title {
      font-size: 1rem;
    }
    &__list {
      row-gap: 25px;
      column-gap: 10px;
    }
    &__window {
      font-size: 0.8rem;
      &--p {
        line-height: 0.9rem;
      }
      &--3 {
        font-size: 0.8rem;
      }
    }
  }
}

.hide {
  display: none;
}
