.burger-menu-start {
  height: 90%;
  padding: 25px 0;
  @include display-flex($fd: column, $jc: space-between, $ai: flex-start);
  &__title {
    font-family: "TT Firs Neue Trl", sans-serif;
    line-height: 18px;
    font-size: 0.8rem;
  }
  &__nav {
    height: 58%;
  }
  &__list {
    height: 100%;
    @include display-flex($fd: column, $jc: space-between, $ai: flex-start);
  }
  &__item {
    font-family: "TT Firs Neue Trl", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    @include hover-anim($ml: 0.7rem);
  }
  &__lang {
    @include display-flex();
    text-transform: uppercase;

    &--ua {
      font-family: "TT Firs Neue Trl", sans-serif;
      color: rgb(230, 48, 21);
      @include hover-anim();
    }
    &--eng {
      font-family: "TT Firs Neue Trl", sans-serif;
      color: rgb(241, 171, 168);
      margin-left: 20px;
      @include hover-anim($ml: 20px);
    }
  }
  &__button {
    width: 100%;
    border: 0;
    background-color: $header-color;
    color: #fff;
    border-radius: 20px;
    height: 50px;
    font-family: "TT Firs Neue Trl", sans-serif;
    font-size: 1.1rem;
    letter-spacing: 0.2rem;
    font-weight: 200;
  }
}

@media (min-width: 360px) {
  .burger-menu-start {
    &__title {
      font-size: 1rem;
    }
    &__item {
      font-size: 1.5rem;
      @include hover-anim($ml: 0.8rem);
    }
    &__lang {
      @include display-flex();
      text-transform: uppercase;
      font-size: 1.2rem;
    }
  }
}

.hide {
  display: none;
}
