.burger-menu {
  position: absolute;
  top: 73px;
  // left: 50%;
  // transform: translate(-50%, 0);
  z-index: 99;
  width: 95%;
  background-color: $burger-menu-color;
  border-radius: 0 0 23px 23px;
  opacity: 0.97;
  padding: 23px 21px;
}

.burger-menu__footer {
  font-size: 10.88px;
  font-weight: 400;
  a {
    color: #111111;
  }
}

.burger-menu__agreement {
  margin-top: 5px;
}
