.burger-menu__header {
  width: 95%;
  background-color: $header-color;
  position: absolute;
  top: 40px;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 100;
  border-radius: 24px;
  padding: 0 21px;
  &--active {
    border-radius: 24px 24px 0 0;
  }
  @include display-flex($jc: "space-between");

  @media (min-width: 420px) {
    max-width: 420px;
  }
  @media (min-width: 768px) {
    display: none;
  }
}

.burger-menu__title {
  color: white;
  font-size: 24px;
  font-weight: 200;
  margin: 15px 0;
}

.burger-menu__button {
  border: none;
  background-color: transparent;
  background-size: cover;
  &--open {
    background-image: url("../img/burger-icon.png");
    width: 28px;
    height: 14px;
  }
  &--close {
    background-image: url("../img/close-icon.png");
    width: 17px;
    height: 19px;
  }
  &--back {
    background-image: url("../img/back-arrow-icon.png");
    width: 35px;
    height: 20px;
  }
}

.burger-menu__open {
  &--hide {
    display: none;
  }
}
.burger-menu__close {
  &--hide {
    display: none;
  }
}
.burger-menu__back {
  &--hide {
    display: none;
  }
}
