.donation-button {
  margin: 14px auto;
  padding: 12px 46px;
  font-size: 18px;
  font-weight: 200;
  border: 0;
  background-color: $header-color;
  color: #fff;
  border-radius: 16.9px;
  display: block;
  @media (min-width: 768px) {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

.donation-button__arrow {
  display: none;
  @media (min-width: 768px) {
    display: block;
    margin-right: 10px;
  }
}
