.general {
  display: none;

  &--hide {
    display: none;
  }
  &--show {
    display: block;
  }

  @media (min-width: 896px) {
    display: none;
    &--show {
      display: block;
    }
    &--hide {
      display: none;
    }
  }
}
.show__general__desktop{
  @media (min-width: 896px) {
    display: block;
  }

}
.general__title {
  font-size: 17px;
  font-weight: 400;
}

.general__title--greeting {
  @media (min-width: 768px) {
    display: none;
  }
}

.general__title--text {
  margin-top: 10px;

  & > span {
    display: none;
    @media (min-width: 768px) {
      display: inline-block;
    }
  }
}

.general__title--main {
  display: none;
  @media (min-width: 768px) {
    display: block;
    color: $header-color;
    font-size: 64px;
  }
}

.general__list {
  margin-top: 30px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  grid-template-areas:
    "item1 item2"
    "item3 item3"
    "item3 item3";
}

.general__item {
  border-radius: 13px;
  background-color: rgb(236, 236, 236);
  max-height: 120px;

  & > :first-child {
    font-size: 9px;
  }

  & > :last-child {
    border-radius: 0px 0px 13px 13px;
    background: #f80000;
    color: #fff;
    font-size: 12px;
    padding: 8px;
    width: 100%;
    text-align: center;
    cursor: pointer;
  }
}

.general__item--window {
  grid-area: item1;
}

.general__item--window-balcony {
  grid-area: item2;
}

.general__item--window-balcony-cat {
  grid-area: item3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.general__item--button {
  border: none;
}

.general__item--image__wrapper {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
