.general {
  &--hide {
    display: none;
  }
}

.general__title {
  font-size: 17px;
  font-weight: 400;

  &--text {
    margin-top: 10px;

    & span {
      display: none;
      @media (min-width: 768px) {
        display: inline-block;
      }
    }
  }

  &--greeting {
    @media (min-width: 768px) {
      display: none;
    }
  }

  &--main {
    display: none;
    @media (min-width: 768px) {
      display: block;
      color: $header-color;
      font-size: 64.681px;
    }
  }
}
