html,
body {
  background-color: #d3ecfd;
  height: 100%;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  position: relative;
  flex: 1 1 auto;
  display: flex;
}

.hide {
  display: none;
}
