@import "./mixines.scss";
.header {
  height: 63px;
  width: 95%;
  background-color: $header-color;
  position: absolute;
  top: 10px;
  // left: 50%;
  // transform: translate(-50%, 0);
  z-index: 100;
  border-radius: 23px;
  padding: 17px 21px;
  @include display-flex($jc: "space-between");
}

.header__title {
  color: white;
  font-size: 24px;
  font-weight: 200;
}

.header__button {
  background-image: url(img/burger-icon.png);
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
}

.burger-active {
  border-radius: 23px 23px 0 0;
}

// @media (min-width: 480px) {
// }
// @media (min-width: 768px) {
// }
// @media (min-width: 1024px) {
// }
// @media (min-width: 1440px) {
// }
