.menu-content {
  max-height: 90vh;
  overflow-y: auto;
  position: absolute;
  top: 70px;
  right: 50%;
  transform: translate(50%, 0);
  z-index: 99;
  width: 95%;
  background-color: $burger-menu-color;
  border-radius: 0 0 23px 23px;
  opacity: 0.98;
  padding: 23px 21px;

  &--hide {
    display: none;
  }

  @media (min-width: 420px) {
    max-width: 520px;
  }
  @media (min-width: 768px) {

  }
  @media (min-width: 895px) {
    overflow-y: auto;
    max-height: 90vh;
    display: block;
    border-radius: 50px;
    top: 35px;
    right: 25px;
    transform: none;
    max-width: 450px;
    padding: 30px 36px;
  }
  @media (min-width: 1440px) {
    display: block;
    border-radius: 50px;
    top: 35px;
    right: 30px;
    transform: none;
    max-width: 500px;
    padding: 35px;
  }
}

.about__intergal-logo {
  @media (min-width: 1024px) {
    width: 160px;
    height: 50px;
  }
  @media (min-width: 1440px) {

  }
}
