.menu {
  display: none;
  overflow-y: auto;
  max-height: 85%;
  @media (min-width: 768px) {
    display: block;
    z-index: 100;
    background-color: $burger-menu-color;
    border-radius: 50px;
    position: absolute;
    right: 40px;
    top: 50px;
    margin-left: 40px;
    max-width: 420px;
    padding: 30px 25px;
  }
  @media (min-width: 1200px) {
  }
}

.menu__nav {
  font-size: 15px;
  text-decoration-line: underline;
}

.menu__list {
  display: flex;
  & :first-child {
    margin-bottom: 7px;
  }
}

.menu__item {
  &:not(:last-child) {
    display: flex;
    margin-right: 30px;
  }
}
