.menu-footer-list {
  padding-top: 20px;
  font-size: 10px;
  font-weight: 400;
  @media (min-width: 768px) {
    display: flex;
    padding-top: 25px;
  }
}

.menu-footer-list__agreement {
  margin-top: 5px;
  @media (min-width: 768px) {
    margin: 0 0 0 10px;
  }
}

.menu-footer-list__link {
  color: #111111;
}
