.menu-content {
  overflow-y: auto;
  max-height: 90vh;
  overflow-y: auto;
  position: absolute;
  top: 70px;
  right: 50%;
  transform: translate(50%, 0);
  z-index: 99;
  width: 95%;
  background-color: $burger-menu-color;
  border-radius: 0 0 23px 23px;
  opacity: 0.98;
  padding: 23px 21px;
  &--hide {
    display: none;
  }
  @media (min-width: 768px) {
    max-height: 80vh;
    overflow-y: auto;
    display: block;
    border-radius: 50px;
    top: 35px;
    right: 25px;
    transform: none;
    max-width: 370px;
    padding: 0px 25px 30px;
  }
  @media (min-width: 1024px) {
    max-width: 420px;

  }
}
