.menu-content {
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  position: absolute;
  top: 70px;
  right: 50%;
  transform: translate(50%, 0);
  z-index: 99;
  width: 95%;
  max-width: 520px;
  background-color: $burger-menu-color;
  border-radius: 0 0 23px 23px;
  opacity: 0.98;
  padding: 23px 21px;

  &--hide {
    display: none;
  }
  @media (min-width: 768px) {
  }
  @media (min-width: 896px) {
    overflow-y: auto;
    max-height: 90vh;
    display: block;
    border-radius: 50px;
    top: 35px;
    right: 10px;
    transform: none;
    max-width: 382px;
    padding: 30px 25px;
  }
  @media (min-width: 1024px) {
    max-width: 425px;
    right: 20px;
  }
  @media (min-width: 1366px) {
    padding: 30px 36px;
    display: block;
    border-radius: 50px;
    top: 35px;
    right: 30px;
    transform: none;
    max-width: 500px;
    padding: 35px;
  }
}

.about__intergal-logo {
  @media (min-width: 1024px) {
    width: 160px;
    height: 50px;
  }
}
