.menu-footer-list {
  font-size: 10.88px;
  font-weight: 400;
  a {
    color: #111111;
  }
  @media (min-width: 768px) {
    display: flex;
    margin-top: 15px;
  }
}

.menu-footer-list__agreement {
  margin-top: 5px;
  @media (min-width: 768px) {
    margin: 0 0 0 10px;
  }
}
