.menu-footer {
  font-size: 10.88px;
  font-weight: 400;
  a {
    color: #111111;
  }
  @media (min-width: 480px) {
    display: flex;
  }
}

.menu-footer__agreement {
  margin-top: 5px;
  @media (min-width: 480px) {
    margin: 0 0 0 30px;
  }
}
