@mixin display-flex($fd: row, $jc: center, $ai: center) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}

@mixin hover($ml: 0, $color: $header-color) {
  cursor: pointer;
  transition-property: all;
  transition: all ease 0.3s;
  &:hover {
    color: $color;
    transition: 0.3s;
  }
}
