.nav {
  display: none;
  overflow-y: auto;
  // max-height: 85%;
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    z-index: 100;
    background-color: $burger-menu-color;
    border-radius: 50px 50px 0 0;
    position: absolute;
    right: 40px;
    top: 50px;
    margin-left: 40px;
    max-width: 420px;
    padding: 30px 39px;
  }
  @media (min-width: 1200px) {
  }
}

.nav {
  font-size: 15px;
  text-decoration-line: underline;
}

.nav__list {
  display: flex;
  & :first-child {
    margin-bottom: 12px;
  }
}

.nav__item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}
