.nav {
  display: none;
  font-size: 15px;
  @media (min-width: 896px) {
    display: flex;
    flex-direction: column;
    z-index: 100;
    font-size: 18px;
  }
  @media (min-width: 1024px) {
    font-size: 19px;
  }
  @media (min-width: 1440px) {
    font-size: 21px;
  }
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav__item {
  margin-bottom: 10px;

  &:first-child {
    width: 25%;
  }

  &:nth-child(2) {
    width: 35%;
  }

  &:nth-child(3) {
    width: 40%;
  }
}

.nav__link {
  text-decoration: underline;
  width: 100%;

  &:hover {
    cursor: pointer;
    color: $header-color;
    text-decoration: none;
  }

  &--active {
    color: $header-color;
    text-decoration: none;
  }

  font-size: 19px;
}
