.outdoor-decor-section {
  width: 100vw;
  max-width: 300px; //для адаптива достаточно тут поменять max-width
  align-self: center;
  display: flex;
  position: absolute;
  bottom: -10px;
  justify-content: space-around;
  align-items: end;
  left: 0;
  max-height: 40%;

  &-tree {
    position: relative;
    left: 20%;
    width: 8em;
    height: 8em;
    z-index: 15;
    max-width: 100px;
    max-height: 150px;
  }

  &-bush {
    position: relative;
    left: 15%;
    width: 2em;
    height: 3em;
    z-index: 15;
  }

  &-tree-with-bench {
    position: relative;
    right: 30%;
    width: 9em;
    height: 9em;
    z-index: 15;
  }
}
