.outdoor-decor {
  width: 100vw;
  max-width: 300px; //для адаптива достаточно тут поменять max-width
  display: flex;
  position: absolute;
  align-self: end;
  bottom: -10px;
  z-index: 15;

  &__images-list {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: end;
    max-height: 40%;
    max-width: 400px;
    min-width: 400px;
  }

  &__bench-img {
    position: relative;
    right: 75%;
    z-index: 15;
  }

  &__tree-img {
    position: relative;
    right: 15%;
  }
}
