.partners {
	display: none;
	overflow-y: auto;
	max-height: calc(85vh - 100px);
	&--show {
		display: block;
	}
}
.partners__title {
	color: $header-color;
	font-size: 24px;
	@media (min-width: 768px) {
		font-size: 43px;
	}
}
.partners__about {
	font-size: 12px;
	margin: 15px 0;
	@media (min-width: 768px) {
		font-size: 18px;
	}
}
.partners__list {
	padding-left: 0;
	margin: 0;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 20px;
}

.partners__type {
	font-size: 13px;
	margin-top: 30px;
	margin-bottom: 10px;

	@media (min-width: 480px) {
		font-size: 18px;
	}
	@media (min-width: 576px) {
		font-size: 20px;
	}
	@media (min-width: 768px) {
		font-size: 21px;
	}
}

.partners__img {
	max-width: 100%;
}
