.partners {
  overflow-y: auto;
  max-height: 72vh;
}

.partners__title {
  color: $header-color;
  font-size: 24px;
  @media (min-width: 768px) {
    font-size: 43px;
  }
}
.partners__about {
  font-size: 12px;
  margin: 15px 0;
  @media (min-width: 768px) {
    font-size: 18px;
  }
}

.partners__list {
  font-size: 13px;
  & :not(:first-child) {
    margin-top: 15px;
  }
  @media (min-width: 768px) {
    font-size: 18px;
  }
}
.partners__charity {
  &--img {
    margin-top: 10px;
    zoom: 0.6;
    @media (min-width: 768px) {
      zoom: 0.8;
    }
  }
}

.partners__nomenclature {
  &--list {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    zoom: 0.62;
    & :not(:last-child) {
      margin-right: 20px;
    }
    @media (min-width: 768px) {
      zoom: 0.82;
    }
  }
}

.partners__design {
  &--img {
    zoom: 0.8;
    @media (min-width: 768px) {
      zoom: 1;
      margin-bottom: 30px;
    }
  }
}
