.partners {
  display: none;
  &--show_1 {
    display: block;
  }
  &--hide{
    display: none;
  }
  @media (min-width: 768px) {
    &--show_1 {
      display: none;
    }
    &--show {
      display: block;
    }
  }
}

.partners__title {
  color: $header-color;
  font-size: 24px;
  @media (min-width: 768px) {
    font-size: 43px;
  }
}
.partners__about {
  font-size: 12px;
  margin: 15px 0;
  @media (min-width: 768px) {
    font-size: 18px;
  }
}

.partners__list {
  font-size: 13px;
  & :not(:first-child) {
    margin-top: 15px;
  }
  @media (min-width: 768px) {
    font-size: 18px;
  }
}
.partners__charity {
  &--img {
    margin-top: 10px;
  }
}

.partners__nomenclature {
  &--list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;
  }
}
.partners__item{
  &:nth-child(3) {
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
  }
  &:nth-child(2) {
 &>img{
   height: 60px;
 }
  }
  &:first-child {
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
  }
}


.partners-item__img{
  width: 110px;
  height: 50px;
}

.partners__design {
  &--img {
    @media (min-width: 768px) {
      margin-bottom: 30px;
    }
  }
}
