.thank-you-page {
  &--hide {
    display: none;
  }
}
.thank-you-page__title {
  color: $header-color;
  font-size: 24px;
  @media (min-width: 768px) {
    font-size: 50px;
  }
}
.thank-you-page__text {
  margin: 15px 0;
  font-size: 14px;
}
.thank-you-page__cat {
  display: block;
  margin: 70px auto 15px;
}
.thank-you-page__download {
  margin: 0px auto;
  padding: 12px 59px;
  font-size: 12px;
  font-weight: 200;
  border: 0;
  background-color: $header-color;
  color: #fff;
  border-radius: 16.9px;
  display: block;
  display: block;
  @media (min-width: 768px) {
    font-size: 16px;
    padding: 15px 80px;
  }
}
.thank-you-page__to-flat {
  margin: 4px auto;
  padding: 12px 35px;
  font-size: 12px;
  font-weight: 200;
  border: 0;
  background-color: $header-color;
  color: #fff;
  border-radius: 17px;
  display: block;
  @media (min-width: 768px) {
    font-size: 16px;
    margin: 7px auto;
    padding: 15px 50px;
  }
}

.donation-button__arrow {
  display: none;
  @media (min-width: 768px) {
    display: block;
    margin-right: 10px;
  }
}
