.flat-type {
  &--hide {
    display: none;
  }
  @media (min-width: 480px) {
    max-width: 90%;
    margin: 0 auto;
  }
  @media (min-width: 768px) {
    max-width: 100%;
  }
}
.flat-type__list {
  margin: 30px 0 0;
  display: grid;
  grid-template-rows: 1fr 1fr 0.1fr;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  grid-template-areas:
    "item1 item2"
    "item3 item3"
    "item3 item3";
}

.flat-type__item {
  border-radius: 13px;
  background-color: rgb(236, 236, 236);
  position: relative;
  &--window {
    grid-area: item1;
  }
  &--window-balcony {
    grid-area: item2;
  }
  &--terrace {
    grid-area: item3;
  }
  &--price {
    width: 100%;
    border: none;
    border-radius: 0px 0px 13px 13px;
    background: #f80000;
    color: #fff;
    font-size: 12.679px;
    padding: 8px;
    text-align: center;
    @media (min-width: 768px) {
      font-size: 17px;
    }
  }
  &--input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: transparent;
    border: none;
    color: transparent;
  }
  &--paragraph {
    text-align: start;
    margin-bottom: 5px;
  }
}

.flat-type__label {
  font-family: "TT Firs Neue Trl", sans-serif;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.flat-type__item--image__wrapper {
  padding: 10px 5px 0;
  display: flex;
  justify-content: space-around;
  @media (min-width: 768px) {
    padding: 10px 10px 0;
  }
  & > p {
    font-size: 9px;
    @media (min-width: 768px) {
      font-size: 14px;
    }
    @media (min-width: 768px) {
      font-size: 15px;
    }
  }
  &--terrace {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
