.form__list {
  margin: 30px 0;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  grid-template-areas:
    "item1 item2"
    "item3 item3"
    "item3 item3";
}

.form__item {
  border-radius: 13.208px;
  background-color: rgb(236, 236, 236);
  max-height: 120px;

  &--window {
    grid-area: item1;
  }

  &--window-balcony {
    grid-area: item2;
  }

  &--window-balcony-cat {
    grid-area: item3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  & > :first-child {
    font-size: 9.509px;
  }

  & > :last-child {
    border-radius: 0px 0px 13.208px 13.208px;
    background: #f80000;
    color: #fff;
    font-size: 12.679px;
    padding: 8px;
    width: 100%;
    text-align: center;
    cursor: pointer;
  }
}

.form__item--button {
  border: none;
}

.form__item--image__wrapper {
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
}

.form__item--image__wrapper--balcony {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__item--paragraph {
  text-align: start;
  width: 100%;
}
